body,figure,img,div,header,nav,main,ul,li,a,p,section,article,h1,h2,footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
#mais{
    display: none;
}

header {
    background: #7D5AC2;
    padding: 0;
}

.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

#logo-titulo {
    width: 10%;
}

nav {
    position: absolute;
    top: 50px;
    right: 0;
}

nav ul {
    margin: 0;
    display: inline;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

main {
    padding: 0;
}

.titulos-mostrados-no-menu {
    background-color: #FFFFFF;
    color: #7D5AC2;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 900;
    padding: 20px 30px;
}

section {
    background-color: #333333;
    padding-bottom: 40px;

}

.containers {
    position: relative;
    width: 80%;
    margin: 0 auto;
    color: #FFFFFF;
}

.h3 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 25px;
    line-height: 16px;
}

#video-ilustrativo {
    margin-left: 260px;
}

section .containers ul li {
    display: inline 
}

.imagem {
  
width: 20%

}

footer {
    text-align: center;
    background-color: #7D5AC2;
    padding-top: 20px;
    padding-bottom: 30px;
}

.copyrigth {
    color: #FFFFFF;
    font-size: 13px;
    padding: 20px 0 0;
    vertical-align: middle;
}